%table#devices{:data => {:source => datatable_devices_path}}
  %thead
    %th Hostname
    %th State
    %th Actions
  %tbody
%br
= link_to 'Create a Device', new_device_path, :class => "button radius"
