<script type="text/html" id="graph-item-row">
  <tr>
    <td>
      <select name="graph_item[data_source_id]">
        {{ for datasources }}
          <option value="{{id}}">{{name}}</option>
        {{/for}}
      </select>
    </td>
  </tr>
</script>

