<h1><%= plural_name.capitalize %></h1>

<table class="table table-striped">
  <thead>
    <% attributes.collect do |attribute| %>
      <tr><%= attribute.human_name %></tr>
    <% end %>
    <th></th><th></th><th></th>
  </thead>
  <tbody>
    
     
  </tbody>
</table>


