.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

table {
  width: 90%;
}

.filter-bar {
  select {
    float: left;
    display: inline;
    @extend .clearfix;
    width: 20%;
  }
}
